@charset "utf-8";
html{height:100%}
body{background: #EEE; width: 100%; position: relative; min-height: 100%; padding-top: 50px; padding-bottom: 150px;}
/*style*/
.m-l-sm{margin-left: 6px}  .m-r-sm{margin-right: 6px}  .m-b-sm{margin-bottom: 6px}  .m-t-sm{margin-top: 6px}
.m-l-md{margin-top:20px}  .m-r-md{margin-top:20px}  .m-b-md{margin-top:20px}  .m-t-md{margin-top:20px}
.m-l-lg{margin-top: 40px}  .m-r-lg{margin-top: 40px}  .m-b-lg{margin-top: 40px}  .m-t-lg{margin-top: 40px}
.noMargin{margin:0}  .noPadding{padding:0;}  .noBorder{border:0} .black{color: black} .white{color: white} .grey{color: #EEE}
/*navbar*/
.navbar-wrapper{overflow-x: hidden;}
.navbar-wrapper button a{color: black}
/*banner*/
.banner-wrapper a{cursor: pointer}
.banner-wrapper .slide-image{width: 100%;}
/*product*/
.product-wrapper{margin-top: 40px}
.product-wrapper h4{margin-top: 25px}
.product-wrapper img{height: 250px;width: 250px}
.product-wrapper .row .col-lg-3 a{color: #000}
.product-wrapper .row .col-lg-3 p a{color: #fff}
.product-wrapper .tab{border-bottom: 3px solid #222}
.product-wrapper .row  .container-fluid{margin-top: 3px}
.product-wrapper .square{float: left;width: 9px;height: 27px;background: #222;margin-top: 3px}
.product-wrapper .tab .tab_title {float: left;color: #222;font-weight: bold;font-size: 20px;margin-top: 3px}
.product-wrapper .tab .tab_title span{color: orange;font-weight: lighter}
.product-wrapper .content{margin-bottom: 50px;}


/*footer*/
.footer-wrapper{width:100%; height: 0; flex:0 0 auto;  position:absolute; bottom:0; left: auto; padding: 13px 0 0 0;border-top: 1px solid #5e5e5e;color: #000;font-size: 12px;margin:70px auto;}
.footer-wrapper p{color: #000}
.footer-wrapper .footerLogoText {line-height: 30px;}
.footer-wrapper .responsiveAlign {text-align: center;padding: 5px;}



/*-----------------------------------
	Media queries
------------------------------------*/
/* On smaller screens */
@media (max-width: 992px) {body{padding-top: 76px;} li{padding-left: 8px} .navbar .navbarindex{padding: 16px 0;} .footer-wrapper{margin: 40px auto;} .footerLogoText{text-align: center;} .responsiveAlign {text-align: center;padding: 5px ;}}
/* On bigger screens */
@media (min-width: 993px) {.responsiveAlign {float: right;}}



