#login-banner-wrap{width: 100%; height: 100%; }
.login-box{width: 350px; margin: 23% auto 0; padding: 0;}
.login-box a{color: #000;font-size: 12px}
.login-box .form-control{display: block; margin-top: 15px}
.login-box .uname{background: #fff url("../img/icons/user.png") no-repeat 95% center; color: #333}
.login-box .pword{background: #fff url("../img/icons/locked.png") no-repeat 95% center;color:#333}
.login-box .btn{margin-top: 15px}
.login-box .form{background:rgba(255,255,255,.2);border:1px solid rgba(255,255,255,.3);-moz-box-shadow:0 3px 0 rgba(12,12,12,.03);-webkit-box-shadow:0 3px 0 rgba(12,12,12,.03);box-shadow:0 3px 0 rgba(12,12,12,.03);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:30px}

#register-wrapper{width: 100%;background-color:#000}
.register-box{width: 400px; margin: 5% auto 0; padding: 0;}
.register-box a{color: #000;font-size: 12px}
.register-box .form-control{display: block; margin-top: 15px}
.register-box .uname{background: #fff url("../img/icons/user.png") no-repeat 95% center; color: #333}
.register-box .pword{background: #fff url("../img/icons/locked.png") no-repeat 95% center;color:#333}
.register-box .email{background: #fff url("../img/icons/envelope.png" ) no-repeat 95% center;color:#333}
.register-box .btn{margin-top: 15px}
.register-box .form{background:rgba(255,255,255,.2);border:1px solid rgba(255,255,255,.3);-moz-box-shadow:0 3px 0 rgba(12,12,12,.03);-webkit-box-shadow:0 3px 0 rgba(12,12,12,.03);box-shadow:0 3px 0 rgba(12,12,12,.03);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:30px}

.logPanel{background: rgb(195,180,185) url("../img/bg.jpg") no-repeat 95% center}

#account-wrapper{width: 900px;height: 500px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background-color: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;justify-content: left;overflow: hidden;}
.account-left-side{height: 70%;width: 25%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.account-left-side ul li {padding-top: 10px;padding-bottom: 10px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;line-height: 34px;color: rgba(51, 51, 51, 0.5);font-weight: 500;cursor: pointer;-webkit-transition: all .2s ease-out;transition: all .2s ease-out;}
.account-left-side ul li:hover{color: #333333;-webkit-transition: all .2s ease-out;transition: all .2s ease-out;}
.account-left-side ul li.active{color: #333}

.account-right-side{height: 500px;width: 75%;overflow: hidden;}
.account-right-side #first,.account-right-side #second,.account-right-side #third,.account-right-side #fourth{position: absolute;height: 500px;width: 75%;-webkit-transition: all .6s ease-in-out;transition: all .6s ease-in-out;margin-top: -350px;opacity: 0;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
.account-right-side #first.active,.account-right-side #second.active,.account-right-side #third.active,.account-right-side #fourth.active{margin-top: 0px;opacity: 1;-webkit-transition: all .6s ease-in-out;transition: all .6s ease-in-out;}
.account-right-side #second .form .form-control{margin: 15px 0 15px 0}

#border {height: 288px;width: 1px;background-color: rgba(51, 51, 51, 0.2);}
#border #line.one {width: 5px;height: 54px;background-color: #E74C3C;margin-left: -2px;margin-top: 35px;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
#border #line.two {width: 5px;height: 54px;background-color: #E74C3C;margin-left: -2px;margin-top: 89px;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
#border #line.three {width: 5px;height: 54px;background-color: #E74C3C;margin-left: -2px;margin-top: 143px;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
#border #line.four {width: 5px;height: 54px;background-color: #E74C3C;margin-left: -2px;margin-top: 197px;-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}



