<!DOCTYPE html>
<html lang="en" ng-app="auShop">
<head>
    <title>账号设置</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/auShop.css">
    <link rel="stylesheet" type="text/css" href="css/user.css">
    <link rel="icon" href="../favicon.ico" />
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
    </script>
    <script src="js/navbar.js"></script>
</head>
<body ng-controller="accountCtrl">
<!--navbar-->
<div class="navbar-wrapper">
    <navbar></navbar>
</div>

<!--account-->
<div id="account-wrapper">
    <div class="account-left-side">
        <ul>
            <li class="account-setting active">个人信息</li>
            <li class="account-change-password">更改密码</li>
            <li class="account-change-address">收货地址</li>
            <li class="advice">意见反馈</li>
        </ul>
    </div>
    <div id="border">
        <div id="line" class="one"></div>
    </div>
    <div class="account-right-side">
        <div id="first" class="active">
            <h1>title-1</h1>
            <p>text. text. text. text. text. text. text. text. text. text. text. text. </p>
        </div>
        <div id="second">
            <div class="form">
                <input class="form-control" type="password" ng-model="oldpwd" placeholder="请输入旧密码">
                <input class="form-control" type="password" placeholder="请输入新密码">
                <input class="form-control" type="password" ng-model="newpwd" placeholder="请再次输入新密码" ng-keyup="enterEvent($event)" >
                <button class="btn btn-primary btn-block" ng-click="ChangePassword()">确认更改</button>
            </div>
        </div>
        <div id="third">
            <h1>title-3</h1>
            <p>text. text. text. text. text. text. text. text. text. text. text. text. </p>
        </div>
        <div id="fourth">
            <h1>title-4</h1>
            <p>text. text. text. text. text. text. text. text. text. text. text. text. </p>
        </div>
    </div>

</div>

<!--footer-->
<div class="footer-wrapper">
    <footer></footer>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" src="js/account.js"></script>
<script type="text/javascript" src="js/footer.js"></script>
<script type="text/javascript">
    app.controller('accountCtrl',function ($scope) {
        $scope.oldpwd = '';
        $scope.newpwd = '';
        $scope.UserInfo = $.api.GetUserInfo();
        $scope.ChangePassword = function () {
            $.api.ChangePassword($scope.oldpwd,$scope.newpwd);
        };$scope.enterEvent = function(e) {
            var keycode = window.event?e.keyCode:e.which;
            if(keycode==13){
                $scope.ChangePassword();
            }
        }
    })

</script>

</body>
</html>