<!DOCTYPE html>
<html lang="en" ng-app="auShop">
<head>
    <title>用户登录</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/auShop.css">
    <link rel="stylesheet" type="text/css" href="css/user.css">

    <link rel="icon" href="../favicon.ico" />
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
    </script>
</head>
<body ng-controller="formCtrl" class="logPanel">
<!--navbar-->
<div class="navbar-wrapper">
    <navbar></navbar>
</div>

<!--login-->
<div id="login-banner-wrap">
    <div class="row noMargin">
        <div class="col-sm-7">
            <!--http://placehold.it/1190x670-->
            <a href="#"><img src="" alt=""></a>
        </div>
        <div class="col-sm-5">
            <!--TODO 小屏幕响应-->
            <div class="login-box">
                <div class="form">
                    <h4 class="noMargin text-center"><span class="glyphicon glyphicon-user"></span></h4>
                    <p class="m-t-md text-center">会员登录</p>
                    <input ng-keyup="enterEvent($event)" ng-model="username" type="text" class="form-control uname" placeholder="会员名"/>
                    <input ng-keyup="enterEvent($event)" ng-model="password" type="password" class="form-control pword" placeholder="密码"/>
                    <button class="btn btn-primary btn-block" ng-click="DoLogin()">登录</button><br>
                    <div class="row pull-right">
                        <div class="col-sm-6">
                            <a class="pull-right" href="#" onclick="$.api.Developing()">忘记密码</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="pull-right" href="register.html">免费注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer-wrapper">
    <footer></footer>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/layer/layer.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/api.js"></script>
<script src="js/navbar.js"></script>
<script src="js/footer.js"></script>
<script type="text/javascript">
    app.controller('formCtrl',function ($scope) {
        $scope.username = '';
        $scope.password = '';
        $scope.UserInfo = $.api.GetUserInfo();
        $scope.DoLogin = function () {
            $.api.ClearAll();
            $.api.DoLogin($scope.username,$scope.password);
        };$scope.enterEvent = function(e) {
            var keycode = window.event?e.keyCode:e.which;
            if(keycode==13){
                $scope.DoLogin();
            }
        }
    })
</script>

</body>
</html>