<!doctype html>
<html class="no-js" lang="" data-ng-app="auShop">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AuShop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/icon/favicon.ico">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
		<link rel="stylesheet" href="lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="lib/css/preview.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/meanmenu.min.css">
        <link rel="stylesheet" href="css/img-zoom/jquery.simpleLens.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="home-1">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--navbar-->
        <header class="header_area" ng-controller="navIndexCtrl">
            <div class="top-link">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="top-logo">
                                <a href="index.html"><img src="img/logo/logo.gif.png" alt=""></a>
                            </div>
                            <div class="content_right">
                                <div class="call_us">
                                    <a href="mailto:xuwang2@student.unimelb.edu.au"><p>
                                        Contact me:
                                        <span> xuwang2@student.unimelb.edu.au</span>
                                    </p></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="english">
                                <ul>
                                    <li><a href="#">English<i class="fa fa-caret-down"></i></a>
                                        <ul>
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">中文</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">AUD<i class="fa fa-caret-down"></i></a>
                                        <ul>
                                            <li><a href="#">AUD</a></li>
                                            <li><a href="#">人民币</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropit-trigger">
                                        <a class="parent-link login_click" href="#"><i class="fa fa-key"></i></a>
                                        <ul class="submenu">
                                            <li><a ng-if="!UserInfo" href="web/login.html">Log In</a></li>
                                            <li><a ng-if="!UserInfo" href="web/register.html">Sign Up</a></li>
                                            <li><a ng-if="UserInfo" href="web/account.html">My Account</a></li>
                                            <li><a ng-if="UserInfo" href="#" data-ng-click='DoLogOut()'>Sign Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <form action="#" id="search_mini_form">
                                <div class="form-search s-same" >
                                    <div class="select-wrapper">
                                        <select class="select">
                                            <option value="">All Categories</option>
                                            <option value="">Nutrition & Health care</option>
                                            <option value="">Beauty care</option>
                                            <option value="">Snacks</option>
                                        </select>
                                    </div>
                                    <input class="input-text" type="text" placeholder="Search entire store here">
                                    <button class="button" title="Search" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="header-wrapper">
                                <div class="top-cart-wrapper">
                                    <div class="top-cart-contain">
                                        <div class="top-cart-title">
                                            <a href="#" onclick="$.api.Developing()" class="my-cart">Shopping cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-5">
                            <div class="left-category-menu  hidden-xs">
                                <div class="left-product-cat">
                                    <div class="category-heading">
                                        <h2>Category</h2>
                                    </div>
                                    <div class="category-menu-list">
                                        <ul>
                                            <li class="arrow-plus">
                                                <a href="web/shop.html">
                                                    <span class="cat-thumb">
                                                        <i class="fas fa-prescription-bottle"></i>
                                                    </span>
                                                    Nutrition & Health care
                                                </a>
                                                <div class="cat-left-drop-menu ">
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Health supplement</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Nutritional Milk Powder</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Vitamins</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Honey propolis</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Health care</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Hyperlipidemia</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Hypertension</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Hyperglycemia</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Category 3</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Category 4</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">xxxx</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="arrow-plus">
                                                <a href="web/shop.html">
                                                    <span class="cat-thumb">
                                                        <i class="fas fa-gift"></i>
                                                    </span>
                                                    Beauty care
                                                </a>
                                                <div class="cat-left-drop-menu">
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Bags </a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Bootees  Bags</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Blazers</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Clothing </a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">coats</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">T-shirts</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Lingerie </a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Bands</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Furniture</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cat-left-drop-menu-left">
                                                        <a class="menu-item-heading" href="#">Handbag</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Bands</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Funiture</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Lifestyle</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="web/shop.html">
                                                    <span class="cat-thumb ">
                                                        <i class="fas fa-cookie-bite"></i>
                                                    </span>
                                                    Snacks
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-7">
                            <div class="home_menu">
                                <nav>
                                    <ul>
                                        <li><a href="web/about-us.html">about us</a></li>
                                        <li class="active1"><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="web/checkout.html">checkout</a></li>
                                                <li><a href="web/contact-us.html">Contacts</a></li>
                                                <li><a href="web/shop.html">shop</a></li>
                                                <li><a href="web/single-product.html">single-product</a></li>
                                                <li><a href="web/shopping-cart.html">shopping-cart</a></li>
                                                <li><a href="web/wishlist.html">wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="web/contact-us.html">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li><a href="web/about-us.html">about us</a></li>
                                        <li class="active1"><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="web/about-us.html">about us</a></li>
                                                <li><a href="web/checkout.html">checkout</a></li>
                                                <li><a href="web/contact-us.html">Contacts</a></li>
                                                <li><a href="web/shop.html">shop</a></li>
                                                <li><a href="web/single-product.html">single-product</a></li>
                                                <li><a href="web/shopping-cart.html">shopping-cart</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="web/contact-us.html">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main slider -->
		<section class="slider-area">
			<div class="preview-2">
				<div id="ensign-nivoslider" class="slides">
                    <img src="img/slider/slider1.jpg" alt="" title="#slider-direction-1"  />
                    <img src="img/slider/slider2.jpg" alt="" title="#slider-direction-2"  />
                </div>
			</div>
		</section>
        <!-- product_area-->
        <section class="product_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" >
                        <div class="ma-title">
                            <h2>
                                Best Seller
                            </h2>
                        </div>
                        <div class="row" >

                            <div class="features-curosel indicator-style">
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2015/08/92_P_1438593384843.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$155.00</span>
                                                <span class="old-price">$170.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">Aptimal 婴儿配方奶粉</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2016/07/20160728054131_57999b0bc2617.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$112.00</span>
                                                <span class="old-price">$140.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">Swisse 蔓越莓胶囊</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2015/12/480_P_1451294691998.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$166.00</span>
                                                <span class="old-price">$180.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">Swisse 葡萄籽精华</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2018/06/20180615120823_5b233bb782321.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$135.00</span>
                                                <span class="old-price">$270.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">A2 白金幼儿配方奶粉</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2015/08/92_P_1438593384843.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$155.00</span>
                                                <span class="old-price">$170.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">Aptimal 婴儿配方奶粉</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2016/07/20160728054131_57999b0bc2617.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$112.00</span>
                                                <span class="old-price">$140.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">Swisse 蔓越莓胶囊</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2015/12/480_P_1451294691998.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$166.00</span>
                                                <span class="old-price">$180.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">Swisse 葡萄籽精华</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class=" col-md-3">
                                    <div class="single-product">
                                        <span class="sale-text">Sale</span>
                                        <div class="product-img">
                                            <a href="#">
                                                <img class="primary-image" src="https://cdn.aomai.com.au/attas/orgimg/2018/06/20180615120823_5b233bb782321.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="price-box">
                                                <span class="special-price">$135.00</span>
                                                <span class="old-price">$270.00 </span>
                                            </div>
                                            <h2 class="product-name"><a href="#">A2 白金幼儿配方奶粉</a></h2>
                                            <div class="pro-rating">
                                                <div class="pro_one">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>

                                            </div>
                                            <div class="product-icon">
                                                <a href="#"><i class="fa fa-shopping-cart"> </i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->


                            </div>
                            <div class="banner">
                                <a href="#"><img src="img/banner16.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--api docs-->
        <div class="container-fluid">
            <h4 class="text-center">For Developers： <a href="https://www.amazingxu.xyz/swagger-ui.html" class=" text-center btn btn-info"> API Docs</a></h4>
        </div>
        <br><br>
        <!--footer-->
        <div class="ma-footer-static">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-inner">
                            <nav>
                                <ul class="pt-menu-links">
                                    <li class="first home">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="web/about-us.html">about us</a>
                                    </li>
                                    <li>
                                        <a href="web/contact-us.html">Contacts</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="footer-static-top">
                                <div class="row">
                                    <div class="f-col f-col1 col-md-3 col-sm-4 col-xs-12">
                                        <div class="static_all">
                                            <div class="footer-static-title">
                                                <h3>My Account</h3>
                                            </div>
                                            <div class="footer-static-content">
                                                <ul>
                                                    <li>
                                                        <a href="web/account.html">My Account</a>
                                                    </li>
                                                    <li>
                                                        <a href="web/login.html">Login</a>
                                                    </li>
                                                    <li>
                                                        <a href="web/shopping-cart.html">My Cart</a>
                                                    </li>
                                                    <li>
                                                        <a href="web/wishlist.html">Wishlist</a>
                                                    </li>
                                                    <li class="last">
                                                        <a href="web/checkout.html">Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-col f-col2 col-md-3 hidden-sm col-xs-12">
                                        <div class="static_all">
                                            <div class="footer-static-title">
                                                <h3>Information</h3>
                                            </div>
                                            <div class="footer-static-content">
                                                <ul>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Sitemap</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Privacy Policy</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Advanced Search</a>
                                                    </li>
                                                    <li>
                                                        <a href="web/about-us.html">About us</a>
                                                    </li>
                                                    <li class="last">
                                                        <a href="web/contact-us.html">Contact Us</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-col f-col3 col-md-3 col-sm-4  col-xs-12">
                                        <div class="static_all">
                                            <div class="footer-static-title">
                                                <h3>Customer Service</h3>
                                            </div>
                                            <div class="footer-static-content">
                                                <ul>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Product Recall</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Gift Vouchers</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Returns and Exchanges</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="$.api.Developing()">Shipping Options</a>
                                                    </li>
                                                    <li class="last">
                                                        <a href="#" onclick="$.api.Developing()">Gift Vouchers</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-col f-col4 col-md-3 col-sm-4  col-xs-12">
                                        <div class="footer-static-title">
                                            <h3>Store information</h3>
                                        </div>
                                        <div class="footer-static-content">
                                            <div class="footer-contact">
                                                <p class="brand">Au Shop</p>
                                                <p class="adress">570 Swanston Street, Melbourne, VIC 3053</p>
                                                <p class="phone">Call me now: (+61)45-266-1374</p>
                                                <p class="email">Email: xuwang2@student.unimelb.edu.au</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-address">
            <div class="container">
                <div class="container-inner">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <address>
                                Copyright ©
                                <a href="https://www.amazingxu.xyz">www.amazingxu.xyz </a>
                                All Rights Reserved
                            </address>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-payment">
                                <a href='http://www.miitbeian.gov.cn' target='_blank' class='noPadding'><p>湘ICP备18010549号-1</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
		<!-- JS
		============================================ -->		
        <script src="js/vendor/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery-price-slider.js"></script>
		<script src="js/img-zoom/jquery.simpleLens.min.js"></script>
        <script src="js/jquery.meanmenu.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
		<script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/home.js" type="text/javascript"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script type="text/javascript" src="js/layer/layer.js"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/api.js" type="text/javascript"></script>
        <script src="js/navbar.js" type="text/javascript"></script>
        <script src="js/footer.js" type="text/javascript" ></script>
        <script type="text/javascript">
            app.controller('navIndexCtrl',function ($scope) {
                $scope.UserInfo = $.api.GetUserInfo();
                $scope.DoLogOut = function () {
                    $.api.ClearAll();
                    location.href = 'web/login.html'
                }
            });
        </script>
    </body>
</html>
